[submodule "release"]
	path = release
	url = https://github.com/JarryShaw/MacDaily.git
	branch = release
[submodule "util/askpass"]
	path = util/askpass
	url = https://github.com/JarryShaw/askpass.git
[submodule "util/confirm"]
	path = util/confirm
	url = https://github.com/JarryShaw/confirm.git
