[submodule "release"]
	path = release
	url = https://github.com/JarryShaw/MacDaily/tree/release
[submodule "util/askpass"]
	path = util/askpass
	url = https://github.com/JarryShaw/askpass
[submodule "util/confirm"]
	path = util/confirm
	url = https://github.com/JarryShaw/confirm
