[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configupdater = "*"
dictdumper = ">=0.6.3"
ptyng = ">=0.2.0.post4"

[dev-packages]
macdaily = {path = ".",editable = true}
subprocess32 = ">=3.5.3"
pathlib2 = ">=2.3.2"
"doc8" = "*"
sphinx = "*"
sphinx-autobuild = "*"
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"],version = "*"}

[requires]
python_version = "3.7"
