[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
configupdater = "*"
dictdumper = ">=0.7.0.post1"
ptyng = ">=0.3.3"
tbtrim = ">=0.2.1"

[dev-packages]
macdaily = {path = ".",editable = true}
subprocess32 = ">=3.5.3"
pathlib2 = ">=2.3.2"
psutil = "*"
f2format = "*"
requests = "*"
beautifulsoup4 = {extras = ["html5lib"],version = "*"}
homebrew-pypi-poet = "*"
docutils = "*"
pygments = "*"
ipython = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
