[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipdeptree = "*"
ptyng = "*"

[dev-packages]
macdaily = {path = ".", editable = true}
ptyng = ">=0.2.0.post4"
pipdeptree = "*"
dictdumper = ">=0.6.3"
pathlib2 = ">=2.3.2"
subprocess32 = ">=3.5.3"
"doc8" = "*"
sphinx = "*"
sphinx-autobuild = "*"
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"], version = "*"}

[requires]
python_version = "3.7"
