<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jsdaily.launchd.plist</string>
	<key>RunAtLoad</key>
	<true/>
	<key>Program</key>
	<string>/usr/bin/osascript</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>-e</string>
		<string>#!/usr/bin/osascript

tell application &quot;Terminal&quot;
	if not (exists window 1) then reopen
	activate
	display notification &quot;Daily scheduled scripts running...&quot; with title &quot;jsdaily&quot;
	do script &quot;jsdaily update --all&quot; in window 1
	do script &quot;jsdaily logging --all&quot; in window 1
	display notification &quot;Daily scheduled scripts done...&quot; with title &quot;jsdaily&quot;
end tell
</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Scripts/update/launchd.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Scripts/update/launchd.stderr.log</string>
</dict>
</plist>
