<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.macdaily.{MODE}.plist</string>
	<key>Program</key>
	<string>/usr/bin/osascript</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>-e</string>
		<string>{PATH}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>RootDirectory</key>
	<string>~/</string>
	<key>EnvironmentVariables</key>
	<dict/>
	<key>StartCalendarInterval</key>
	<array/>
	<key>StandardOutPath</key>
	<string>~/Library/Logs/MacDaily/{MODE}/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>~/Library/Logs/MacDaily/{MODE}/stderr.log</string>
</dict>
</plist>
