<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.macdaily.{MODE}.plist</string>
	<key>Program</key>
	<string>/usr/bin/osascript</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>-e</string>
		<string>{CMD}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>RootDirectory</key>
	<string>{RootDirectory}</string>
	<key>EnvironmentVariables</key>
	<dict>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
	</array>
	<key>StandardOutPath</key>
	<string>{StandardOutPath}</string>
	<key>StandardErrorPath</key>
	<string>{StandardErrorPath}</string>
</dict>
</plist>
