<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jsdaily.launchd.plist</string>
	<key>UserName</key>
	<string>root</string>
	<key>Program</key>
	<string>/usr/bin/osascript</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>-e</string>
		<string>
		#!/usr/bin/osascript

		-- show notification
		display notification "Daily scheduled script `logging` running..." with title "macdaily"

		-- run script
		do shell script "{sys.executable} -m macdaily {mode} {argv}"
		</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>RootDirectory</key>
	<string>{ROOT}</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>{HOME}</string>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Scripts/update/launchd.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Scripts/update/launchd.stderr.log</string>
</dict>
</plist>
