<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jsdaily.logging.plist</string>
	<key>RunAtLoad</key>
	<true/>
	<key>Program</key>
	<string>/usr/bin/osascript</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>-e</string>
		<string>tell app &quot;Terminal&quot; to do script &quot;jsdaily logging --all&quot;</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Scripts/logging/launchd.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Scripts/logging/launchd.stderr.log</string>
</dict>
</plist>
